<% provide(:title, "ログイン") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>ログイン</h3>
    <hr>
    <!-- /loginにparams[:session]を渡す -->
    <%= form_with(url: new_session_path, scope: :session, local: true) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>