<div class="index-content">
  <div class="container-fluid"><!-- 流動的 -->
    <h3><center>イベント編集</center></h3>
      <hr>
        <div class="col-md-6">
          <div class="card">
            <%= attachment_image_tag(@event, :image, fallback: 'no_image.jpg', size: '300x235')%>
            <h4><%= @event.name %></h4>
            <p><%= "開催日 #{@event.date}" %> <span><%= @event.time_status_i18n %></sapn></p>
            <p><%= @event.article.truncate(64) %></p>
            <p>場所 <%= @event.prefecture%> <%= @event.city%></p>
          </div>
        </div>
        <div class="col-md-4">
          <%= form_with(model: @event, url:"/admin/events/#{@event.id}", local: true) do |f| %>
            <%= f.label :名前 %>
            <%= f.text_field :name, class: 'form-control' %>
            <%= f.label :画像 %>
            <%= f.attachment_field :image, class: 'form-control' %>
            <%= f.label :説明 %>
            <%= f.text_area :article, class: 'form-control' %>
            <%= f.label :都道府県 %>
            <%= f.text_field :prefecture, class: 'form-control' %>
            <%= f.label :市 %>
            <%= f.text_field :city, class: 'form-control' %>
            <%= f.label :番地 %>
            <%= f.text_field :street, class: 'form-control' %>
            <%= f.label :開催日 %>
            <div class='input-group date datepicker'>
               <%= f.text_field :date, class: 'form-control',placeholder: '日付' %>
               <span class="input-group-addon">
                 <span class="glyphicon glyphicon-calendar"></span>
               </span>
            </div>
            <br>
            <%= f.label :開催ステータス %>
            <%= f.radio_button :time_status, :event_before %>開催前
            <%= f.radio_button :time_status, :event_now %>開催中
    　　　　　<%= f.radio_button :time_status, :event_finsh %>開催終了

            <%= f.submit "変更を保存", class: "btn btn-primary" %>
            <%= link_to "戻る", admin_events_path, class: "btn btn-primary" %>
          <% end %>
        </div>
  </div>
</div>