<% provide(:title, 'イベント編集') %>

<div class="container">
  <h3>
    <center>イベント編集</center>
  </h3>
  <hr>
<!-- イベント表示 -->
<article class="event">
　<div class="box">
  　<div class="box__left-event">
    　<figure class="event__figure">
      　<%= attachment_image_tag(@event, :image, fallback: 'no_image.jpg')%>
    　</figure>
    <h2 class="event__title"><%= @event.name %></h2>
    <p class="event__text"><%= @event.article %></p>
    <p class="event__text"><%= "【場所】#{@event.prefecture}" %></p>
  </div>
</div>

  <!-- 入力フォーム -->
  <%= render 'admin/events/event_form', url: "/admin/events/#{@event.id}" %>
