<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>イベント追加</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <%= form_with(model: @event, url:admin_events_path, local: true) do |f| %>

        <%= f.label :都道府県選択 %>
        <%= f.collection_select :area_id, Area.all, :id, :name %>

        <%= f.label :イベント名 %>
        <%= f.text_field :name, class: 'form-control' %>

　　　　　<%= f.label :説明文 %>
        <%= f.text_area :article, class: 'form-control' %>

        <%= f.attachment_field :image %>

        <%= f.label :住所 %>
        <%= f.text_field :place, class: 'form-control' %>

        <%= f.label :開催日 %>
        <%= f.text_field :date, class: 'form-control' %>

        <%= f.label :開催ステータス %>
        <%= f.radio_button :time_status, :"0" %>開催前
        <%= f.radio_button :time_status, :"1" %>開催中
　　　　　<%= f.radio_button :time_status, :"2" %>開催終了

        <%= f.label :tag %>
        <%= f.text_field :tag_name %>

        <%= f.submit "追加", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="col-md-6 col-md-offset-2">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>イベント名</th>
            <th>画像</th>
            <th>説明文</th>
            <th>住所</th>
            <th>開催日</th>
            <th>開催ステータス</th>
            <th>タグ</th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= attachment_image_tag(event, :image, fallback: 'no_image.jpg', size: '25x25')%></td>
            <td><%= event.article %></td>
            <td><%= event.place %></td>
            <td><%= event.time_status %></td>
              <td><% event.tags.each do |tag| %>
                    <%=tag.tag_name %>
                  <% end %>
              </td>
            <td><%= link_to "編集する", admin_areas_path, class: "btn btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>