<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>イベント追加</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_with(model: @event, url:admin_events_path, local: true) do |f| %>

        <%= f.label :地域選択 %>
        <%= f.collection_select :area_id, Area.all, :id, :name %>

        <%= f.label :イベント名 %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :説明文 %>
        <%= f.text_area :article, class: 'form-control' %>

        <%= f.label :画像選択 %>
        <%= f.attachment_field :image %>

        <%= f.label :都道府県 %>
        <%= f.text_field :prefecture, class: 'form-control' %>

        <%= f.label :市 %>
        <%= f.text_field :city, class: 'form-control' %>

        <%= f.label :番地 %>
        <%= f.text_field :street, class: 'form-control' %>

        <%= f.label :開催日 %>
          <div class='input-group date datepicker'>
            <%= f.text_field :date, class: 'form-control',placeholder: '日付' %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
           </span>
          </div>
          <br>
        <%= f.label :開催ステータス %>
        <%= f.radio_button :time_status, :event_before %>開催前
        <%= f.radio_button :time_status, :event_now %>開催中
　　　　　<%= f.radio_button :time_status, :event_finsh %>開催終了
        <%= f.radio_button :is_invalid, :"0" %>有効
        <%= f.submit "追加", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="col-md-12">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
           <br><th>イベント名</th>
            <th>県</th>
            <th>市</th>
            <th>番地</th>
            <th>開催日</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= event.prefecture %></td>
            <td><%= event.city %></td>
            <td><%= event.street %></td>
            <td><%= event.date %></td>
            <td><%= event.time_status_i18n %></td>
            <td><%= link_to "編集", edit_admin_event_path(event), class: "btn btn-primary" %></td>
            <td><%= link_to "消去", admin_event_path(event), method: :delete, class: "btn btn-primary", "data-confirm" => "本当に削除しますか？" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>