<% provide(:title, 'イベント作成') %>
<div class="container">
  <% now1 = Time.new.in_time_zone('Tokyo') %><!-- 現在時刻 -->
  <%= p now1.hour %>
  <h3>イベント追加</h3>
  <hr>
  <!-- 入力フォーム -->
  <%= render 'admin/events/event_form', url: "/admin/events" %>
  <!-- イベント表示 -->
  <div class="col-md-12">
    <table class="table table-inverse">
      <thead>
        <tr>
          <br>
          <th class="col-md-1">image</th>
          <th class="col-md-3">event</th>
          <th class="col-md-2">prefacture</th>
          <th class="col-md-2">非表示/表示</th>
          <th class="col-md-2">開催日</th>
          <th class="col-md-2">ステータス</th>
          <th class="col-md-1">編集</th>
          <th class="col-md-1">消去</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
        <tr>
          <td class="text-center"><%= attachment_image_tag(event, :image, fallback: 'no_image.jpg', size: '90x60')%></td>
          <td><%= event.name %></td>
          <td><%= event.prefecture %></td>
          <td><%#= event.is_valid %></td>
          <td><%= event.start_time %></td>
          <td><%= event.time_status_i18n %></td>
          <td class="text-center">
            <%= link_to edit_admin_event_path(event), method: :get do %>
              <i class="fas fa-edit sync-alt_green"></i>
            <% end %>
          </td>
          <td class="text-center">
            <%= link_to admin_event_path(event), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
              <i class="fa fa-times times_red"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>