<% provide(:title, 'season作成') %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>season作成</h3>
      <hr>
    </div>
  </div>
  <!-- 入力フォーム -->
  <%= render 'admin/seasons/season_form', url: admin_seasons_path %>
</div>

<div class="col-md-8 col-md-offset-2">
  <table class="table table-hover table-inverse">
    <%= flash[:success] %>
    <thead>
      <tr>
        <th>season</th>
        <th>編集</th>
        <th>消去</th>
      </tr>
    </thead>
    <tbody>
      <% @seasons.each do |season| %>
      <tr>
        <td><%= season.name %></td>
        <td><%= link_to "編集", edit_admin_season_path(season), class: "btn btn-primary" %></td>
        <td><%= link_to "消去", admin_season_path(season), method: :delete, class: "btn btn-primary", "data-confirm" => "本当に削除しますか？" %></td>
      <% end %>
    </tbody>
  </table>
</div>
