<% provide(:title, 'お気に入り一覧') %>
<%= render 'shared/category_nav' %>
<div class = "pan-list">
　<%= link_to root_url, class: "pan-list__link", method: :get do %>
    <i class="fas fa-home"></i>ホーム
  <% end %>
  <span>></span>
  <%= link_to user_favorites_path, class: "pan-list__link", method: :get do %>
    <span>お気に入り一覧</span>
  <% end %>
</div>
<div class="box">
  <div class="box__left">
    <%= render 'shared/search_prefacture' %>
    <!-- メイン記事 -->
    <div class="container">
      <h2 class="heading">お気に入り一覧</h2>
    </div>
    <% @user_favorites.each do |favorite| %>
  <article class="card">
    <aside class="card__aside">
      <figure class="card__figure">
        <%= link_to event_path(favorite.event) do %>
          <%= attachment_image_tag(favorite.event, :image, fallback: 'no_image.jpg')%>
        <% end %>
      </figure>
    </aside>
    <% favorite.event.tags.each do |tag| %>
      <%= link_to event_path(favorite.event) do %>
        <header class="card__header">
          <% if tag.id == 1 %>
            <h2 class="card__title--nature"><%= favorite.event.name.truncate(15) %></h2>
          <% elsif tag.id == 2 %>
            <h2 class="card__title--histroy"><%= favorite.event.name.truncate(15) %></h2>
          <% elsif tag.id == 3 %>
            <h2 class="card__title--play"><%= favorite.event.name.truncate(15) %></h2>
          <% else %>
            <h2 class="card__title--stage"><%= favorite.event.name.truncate(15) %></h2>
        </header>
      <% end %>
    <% end %>
    <div class="card__body">
      <p class="card__copy">
        <%= favorite.event.article.truncate(74) %>
      </p>
    </div>
    <footer class="card__footer">
      <a href = "http://cocoiko.blog/events/search?utf8=✓&search%5Bprefecture%5D=<%= favorite.event.prefecture %>&search%5Bname%5D=&commit=search">
        <p class="card__copy">
         【場所】<%= favorite.event.prefecture%>
        </p>
      </a>
      <% if tag.id == 1 %>
        <%= link_to event_tag_path(tag) do %>
          <p class="card__category--nature"><%= tag.name %></p>
        <% end %>
      <% elsif tag.id == 2 %>
        <%= link_to event_tag_path(tag) do %>
          <p class="card__category--histroy"><%= tag.name %></p>
        <% end %>
      <% elsif tag.id == 3 %>
        <%= link_to event_tag_path(tag) do %>
          <p class="card__category--play"><%= tag.name %></p>
        <% end %>
      <% else %>
        <%= link_to event_tag_path(tag) do %>
          <p class="card__category--stage"><%= tag.name %></p>
        <% end %>
      <% end %>
    <% end %>
      <div id="favorites_buttons_<%= favorite.event.id %>">
        <%= render partial: 'favorites/favorite', locals: { event: favorite.event} %>
      </div>
    </footer>
  </article>
<% end %>
  </div>
    <div class="box__right">
      <%= render 'events/event_ranking', events: @events_ranking %>
      <%= render 'shared/section_favorite' %>
      <%= render 'shared/section_pickup', events: @events_pickup %>
      <%= render 'shared/section_about' %>
    </div>
</div>
<!-- フッター -->
<%= render 'shared/footer' %>