<footer class="footer__body">
<ul class="footer__ul">
  <li class="footer__link"><%= link_to 'ホーム', root_url %></li>
</ul>

<ul class="footer__ul">
  <% @tags.each do |tag| %>
    <li class="footer__link">
      <%= link_to event_tag_path(tag) do %>
        <%= tag.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<ul class="footer__ul">
  <li class="footer__link"><a href="https://cocoiko.blog/events?area_id=1">北海道</a></li>
  <li class="footer__link"><a href="https://cocoiko.blog/events?area_id=2">東北</a></li>
  <li class="footer__link"><a href="https://cocoiko.blog/events?area_id=3">関東</a></li>
  <li class="footer__link"><a href="https://cocoiko.blog/events?area_id=4">中部</a></li>
</ul>

<ul class="footer__ul">
  <li class="footer__link"><a href="https://cocoiko.blog/events?area_id=5">関西</a></li>
  <li class="footer__link"><a href="https://cocoiko.blog/events?area_id=6">中国</a></li>
  <li class="footer__link"><a href="https://cocoiko.blog/events?area_id=7">四国</a></li>
  <li class="footer__link"><a href="https://cocoiko.blog/events?area_id=8">九州・沖縄</a></li>
</ul>

<ul class="footer__ul">
  <li class="footer__link"><%= link_to '人気記事ランキング', ranking_path %></li>
  <li class="footer__link"><%= link_to 'オススメ記事', pickup_path %></li>
</ul>

<ul class="footer__ul">
  <li class="footer__link-share">SNS SHARE</li>
  <%= link_to "https://twitter.com/share?url=https://cocoiko.blog&text=ここいこ 公式サイト　　　　　　　　　", target: :_blank do %>
        <span data-toggle="tooltip" data-placement="bottom" title="Share">
          <li class="footer__link-share"><i class="fab fa-twitter-square fa-2x"></i></li>
        </span>
      <% end %>
</ul>
</footer>
<footer class="footer__botom">
  <small class="footer__logo">©2020 ここいこ</small>
</footer>