<header class="ranking__header">
  <%= link_to pickup_path, class: "ranking__link", method: :get do %>
    <h2 class="ranking__section"><i class="fas fa-star"></i>オススメ記事</h2>
  <% end %>
</header>

<% events.each_with_index do |event, i| %>
  <article class="ranking">
    <aside class="ranking__aside">
      <%= link_to event_path(event) do %>
        <%= attachment_image_tag(event, :image, fallback: 'no_image.jpg')%>
      <% end %>
    </aside>
      <div class="ranking__body">
        <% event.tags.each do |tag| %>
          <% if tag.id == 1 %>
            <%= link_to event_tag_path(tag) do %>
              <p class="card__category--nature"><i class="fas fa-tag"></i><%= tag.name %></p>
            <% end %>
            <%= link_to event_path(event) do %>
              <p class="ranking__title"><%= event.name.truncate(9) %></p>
            <% end %>
          <% elsif tag.id == 2 %>
            <%= link_to event_tag_path(tag) do %>
              <p class="card__category--histroy"><i class="fas fa-tag"></i><%= tag.name %></p>
            <% end %>
            <%= link_to event_path(event) do %>
              <p class="ranking__title"><%= event.name.truncate(9) %></p>
            <% end %>
          <% elsif tag.id == 3 %>
            <%= link_to event_tag_path(tag) do %>
              <p class="card__category--play"><i class="fas fa-tag"></i><%= tag.name %></p>
            <% end %>
            <%= link_to event_path(event) do %>
              <p class="ranking__title"><%= event.name.truncate(9) %></p>
            <% end %>
          <% elsif tag.id == 4 %>
            <%= link_to event_tag_path(tag) do %>
              <p class="card__category--stage"><i class="fas fa-tag"></i><%= tag.name %></p>
            <% end %>
            <%= link_to event_path(event) do %>
              <p class="ranking__title"><%= event.name.truncate(9) %></p>
            <% end %>
          <% end %>
        <% end %>
        <p class="text_excerpt">
          <a href class="ranking__link"= "https://cocoiko.blog/events/search?utf8=✓&search%5Bprefecture%5D=<%= event.prefecture %>&search%5Bname%5D=&commit=search" >
            <%= event.prefecture %>
          </a>
        </p>
      </div>
  </article>
<% end %>
<footer class="ranking__footer">
  <%= link_to "オススメ記事一覧を見る", pickup_path, class: "section-btn" %>
</footer>

