<article class="card-small">
    <% events.each_with_index do |event, i| %>
      <div class="container__card--mini">
          <figure class="card-small__figure">
            <%= link_to event_path(event) do %>
              <% if events == @events_ranking_area %>
                <div class="container__card--mini__badge--rank<%= i %>"></div>
              <% end %>
              <%= attachment_image_tag(event, :image, fallback: 'no_image.jpg')%>
              <div class="card-small__mask">
                <div class="card-small__caption">
                  記事を読む
                </div>
              </div>
            <% end %>
          </figure>
      <header class="card__header">
          <% event.tags.each do |tag| %>
            <%= link_to event_path(event) do %>
              <% if tag.id == 1 %>
                <h2 class="card__title--nature"><%= event.name.truncate(15) %></h2>
              <% elsif tag.id == 2 %>
                <h2 class="card__title--histroy"><%= event.name.truncate(15) %></h2>
              <% elsif tag.id == 3 %>
                <h2 class="card__title--play"><%= event.name.truncate(15) %></h2>
              <% else %>
                <h2 class="card__title--stage"><%= event.name.truncate(15) %></h2>
              <% end %>
            <% end %>
      </header>
      <footer class="card__footer">
          <a href = "http://cocoiko.blog/events/search?utf8=✓&search%5Bprefecture%5D=<%= event.prefecture %>&search%5Bname%5D=&commit=search">
            <p class="card__copy">
             【場所】<%= event.prefecture%>
            </p>
          </a>
          <% if tag.id == 1 %>
            <%= link_to event_tag_path(tag) do %>
              <p class="card__category--nature"><i class="fas fa-tag"></i><%= tag.name %></p>
            <% end %>
          <% elsif tag.id == 2 %>
            <%= link_to event_tag_path(tag) do %>
              <p class="card__category--histroy"><i class="fas fa-tag"></i><%= tag.name %></p>
            <% end %>
          <% elsif tag.id == 3 %>
            <%= link_to event_tag_path(tag) do %>
              <p class="card__category--play"><i class="fas fa-tag"></i><%= tag.name %></p>
            <% end %>
          <% else %>
            <%= link_to event_tag_path(tag) do %>
              <p class="card__category--stage"><i class="fas fa-tag"></i><%= tag.name %></p>
            <% end %>
          <% end %>
        <% end %>
          <div id="favorites_buttons_<%= event.id %>">
            <%= render partial: 'favorites/favorite', locals: { event: event} %>
          </div>
      </footer>
      </div>
    <% end %>
</article>
