<div class="container__inner">
  <div class="container__card--normal">
    <%= attachment_image_tag(@event, :image, fallback: 'no_image.jpg', size: '390x260')%>
    <h2 div class="heading--normal"><%= @event.name.truncate(20) %></h2>
    <p class="text--normal"><%= simple_format(@event.article) %></p>
    <p class="text--normal"><%= "開催場所#{@event.city}" %></p>
    <% @event.tags.each do |tag| %>
      <span class="label label-default"><%= tag.name %></span>
    <% end %>
    <div id="favorites_buttons_<%= @event.id %>">
      <%= render partial: 'favorites/favorite', locals: { event: @event} %>
    </div>
      <% if @status == '' %>
        <span class="label label-success"><%= @status %></span><%= @open_date %><%= @close_date %>
      <% else %>
        <span class="label label-success"><%= @status %></span><%= @open_date %>〜<%= @close_date %>
      <% end %>
  </div>
</div>
