<div class="index-content">
  <div class="col-lg-6">
    <div class="card">
      <%= attachment_image_tag(@event, :image, fallback: 'no_image.jpg', size: '390x260')%>
      <h4><%= @event.name.truncate(20) %></h4>
      <p><%= simple_format(@event.article) %></p>
      <p><%= "開催場所#{@event.city}" %></p>
      <% @event.tags.each do |tag| %>
        <span class="label label-default"><%= tag.name %></span>
      <% end %>
      <div id="favorites_buttons_<%= @event.id %>">
        <%= render partial: 'favorites/favorite', locals: { event: @event} %>
      </div>
        <% if @status == '' %>
          <span class="label label-success"><%= @status %></span><%= @open_date %><%= @close_date %>
        <% else %>
          <span class="label label-success"><%= @status %></span><%= @open_date %>〜<%= @close_date %>
        <% end %>
    </div>
  </div>
</div>
