<div class="index-sub-content">
  <% events.limit(4).each_with_index do |event, i| %>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="card">
        <%= link_to event_path(event) do %>
          <% if events == @events_new %>
            <div class="new">
              <%= attachment_image_tag(event, :image, fallback: 'no_image.jpg', size: '180x141')%>
            </div>
          <% else %>
            <div class="rank<%= i %>">
              <%= attachment_image_tag(event, :image, fallback: 'no_image.jpg', size: '180x141')%>
            </div>
          <% end %>
        <% end %>
        <h4><%= event.name.truncate(9) %></h4>
        <p><%= event.prefecture%> | <%= event.city.truncate(6)%></p>
          <% event.tags.each do |tag| %>
            <span class="label label-default"><%= tag.name %></span>
          <% end %>
        <div id="favorites_buttons_<%= event.id %>">
          <%= render partial: 'favorites/favorite', locals: { event: event} %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<!-- @events_new -->
<!-- @events_ranking_area --> <!-- <div class="rank<%#= i %>"> -->
