<!-- ページタイトル -->
<% provide(:title, 'オススメ記事') %>

<!-- ナビゲーションバー -->
<%= render 'shared/category_nav' %>

<!-- パンくずリスト -->
<div class = "pan-list">
　<%= link_to root_url, class: "pan-list__link", method: :get do %>
    <i class="fas fa-home"></i>ホーム
  <% end %>
  <span>></span>
  <%= link_to pickup_path, class: "pan-list__link", method: :get do %>
    <span>オススメ記事一覧</span>
  <% end %>
</div>

<!-- 表示件数 -->
<div class="count">
  <%= render 'shared/count', events: @events_pickup_all %>
</div>
<div class="box">
  <div class="box__left">
    <!-- メイン記事 -->
    <div class="container">
      <h2 class="heading">人気記事ランキング(全国)</h2>
    </div>
    <div class="search">
      <%= render 'events/event_card', events: @events_pickup_all %>
    </div>
  </div>

  <!-- サブメニュー -->
  <div class="box__right">
    <%= render 'shared/section_area' %>
    <%= render 'events/event_ranking', events: @events_ranking %>
    <%= render 'shared/section_favorite' %>
    <%= render 'shared/section_pickup', events: @events_pickup %>
  </div>
</div>

<!-- フッター -->
<%= render 'shared/footer' %>