<% provide(:title, "検索結果") %>
<%= render 'shared/category_nav' %>
<div class = "pan-list">
　<%= link_to root_url, class: "pan-list__link", method: :get do %>
    <i class="fas fa-home"></i>ホーム
  <% end %>
  <span>></span>
    <%= "詳細検索結果" %>
</div>
<div class="box">
  <div class="box__left">
    <%= render 'shared/search_prefacture' %>
    <%= render 'events/event_card', events: @events %>
  </div>
    <div class="box__right">
      <%= render 'events/event_ranking', events: @events_ranking %>
      <%= render 'shared/section_favorite' %>
      <%= render 'shared/section_pickup', events: @events_pickup %>
    </div>
</div>
