<!-- ページタイトル -->
<% provide(:title, '観光地情報') %>

<!-- ナビゲーションバー -->
<%= render 'shared/category_nav' %>

<!-- パンくずリスト -->
<div class = "pan-list">
　<%= link_to root_url, class: "pan-list__link", method: :get do %>
    <i class="fas fa-home"></i>ホーム
  <% end %>
  <span>></span>
  <a href = "http://cocoiko.blog/events/search?utf8=✓&search%5Bprefecture%5D=<%= @event.prefecture %>&search%5Bname%5D=&commit=search">
    <%= @event.prefecture %>
  </a>
  <span>></span>
  <% @event.tags.each do |tag| %>
    <%= link_to event_tag_path(tag), class: "pan-list__link", method: :get do %>
      <%= tag.name %>
    <% end %>
  <% end %>
  <span>></span>
  <%= link_to event_path(@event), class: "pan-list__link", method: :get do %>
    <%= @event.name %>
  <% end %>
</div>

<article class="event">
  <div class="box">
    <!-- イベント詳細 -->
    <div class="box__left-event">
      <figure class="event__figure">
        <%= attachment_image_tag(@event, :image, fallback: 'no_image.jpg')%>
      </figure>
      <h2 class="event__title"><%= @event.name %></h2>
      <p class="event__text"><%= @event.article %></p>
      <p class="event__text"><%= "【場所】#{@event.prefecture}" %></p>

      <div class="event__show-heart">
        <div id="favorites_buttons_<%= @event.id %>">
          <%= render partial: 'favorites/favorite', locals: { event: @event} %>
        </div>
      </div>
      <!-- マップ表示 -->
      <h2 class="event__title">マップ情報</h2>
      <div id='map' class="<%= @event.prefecture + @event.city + @event.street %>"></div>

      <!-- 口コミ表示 -->
      <h2 class="event__title">口コミ</h2>
      <div class="event__comment">
        <%= form_with model:[@event, @event_comment],method: :post, data: {remote: true} do |f| %>
          <%= f.text_area :comment, class: "form-control", placeholder: "口コミをここに" %>
          <% if logged_in? %>
            <%= f.submit "投稿する", class:"btn btn-default event__btn" %>
          <% else %>
            <button type="button" class="btn btn-default event__btn" data-toggle="modal" data-target="#loginModal">投稿する</button>
          <% end %>
        <% end %>
        <div class=" comment_<%= @event.id %>">
          <%= render 'events/comment', event_comments: @event.event_comments %>
        </div>
      </div>
    </div>

    <!-- サブメニュー -->
    <div class="box__right">
      <%= render 'events/event_ranking', events: @events_ranking %>
      <%= render 'shared/section_favorite' %>
      <%= render 'shared/section_pickup', events: @events_pickup %>
      <%= render 'shared/section_about' %>
    </div>
  </div>

  <!-- 近くのイベント -->
  <div class="a">
  <h2 class="event__title-bottom">近くのイベント</h2>
  <%= render 'events/event_small_content', events: @events %>
</div>
<!-- フッター -->
<%= render 'shared/footer' %>

</article>

<script>
let map//ピンの位置
let geocoder//緯度経度

function initMap(){
  //初期設定
  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 15
  });
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()
  //住所を緯度経度に変換 .attrでクラスを取得 変換結果と処理の状況
  geocoder.geocode( { 'address': $('#map').attr('class')}, function(results, status) {
    if (status == 'OK') {
  // map.setCenterでresults[0](緯度経度)に地図が移動
      map.setCenter(results[0].geometry.location);

  // google.maps.MarkerでMap上の指定位置にマーカーが立つ
  // Markerを初期化
      var marker = new google.maps.Marker({
          map: map,//ピンの位置
          position: results[0].geometry.location//クリックいち
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>

