<% provide(:title, '観光地情報') %>
<div class="index-learge-content">
  <div class="container-fluid">
    <h3><center><%= @event.name %></center></h3>
    <hr>
    <div class="col-lg-6">
      <div class="card">
        <%= attachment_image_tag(@event, :image, fallback: 'no_image.jpg', size: '300x260')%>
        <h4><%= @event.name.truncate(20) %></h4>
        <p><%= @event.date %></p>
        <p><%= @event.article %></p>
        <p><%= "開催場所#{@event.city}" %></p>
        <div id="favorites_buttons_<%= @event.id %>">
          <%= render partial: 'favorites/favorite', locals: { event: @event} %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div id='map' class="<%= @event.prefecture + @event.city + @event.street %>"></div>
    </div>
  </div>
</div>

<div class="index-sub-content">
  <div class="container">
    <h3>新着のイベント</h3>
    <hr>
      <% @events.first(4).each do |event| %>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="card">
            <%= link_to event_path(event) do %>
              <div class="new">
                <%= attachment_image_tag(event, :image, fallback: 'no_image.jpg', size: '180x141')%>
              </div>
            <% end %>
            <h4><%= event.name.truncate(9) %></h4>
            <p><%= event.prefecture%> | <%= event.city%></p>
            <p>開催期間<%= event.date%></p>
            <div id="favorites_buttons_<%= event.id %>">
              <%= render partial: 'favorites/favorite', locals: { event: event} %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h3>コメント
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sampleModal">
          投稿をする
        </button></h3>
      <hr>
    </div>
  </div>
</div>
<div class=" comment_<%= @event.id %>">
        <%= render 'comment', event_comments: @event.event_comments %>
</div>
<style>
#map{
  width: 400px;
  height: 400px;
}
</style>

<script>
let map//ピンの位置
let geocoder//緯度経度

function initMap(){
  ////////////////////初期設定//////////////////////////////////
  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 15
  });
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()
  //住所を緯度経度に変換 .attrでクラスを取得 変換結果と処理の状況
  geocoder.geocode( { 'address': $('#map').attr('class')}, function(results, status) {
    if (status == 'OK') {
　 // map.setCenterでresults[0](緯度経度)に地図が移動
      map.setCenter(results[0].geometry.location);

///// google.maps.MarkerでMap上の指定位置にマーカーが立つ//////
  // Markerを初期化
      var marker = new google.maps.Marker({
          map: map,//ピンの位置
          position: results[0].geometry.location//クリックいち
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });

}
////////////////////????//////////////////////////////////
function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=  &callback=initMap" async defer></script>
<div class="modal fade" id="sampleModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
              <h4 class="modal-title">本文</h4>
            </div>
            <%= form_with model:[@event, @event_comment],method: :post, data: {remote: true} do |f| %>
              <%= f.text_area :comment, class: "form-control",placeholder: "コメントをここに" %>
              <div class="modal-footer">
                <%= f.submit "投稿する", class:"btn btn-default" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

