<div class="index-content">
  <div class="container">
    <div class="col-lg-4">
      <div class="card"> <%= attachment_image_tag(@event, :image, fallback: 'no_image.jpg', size: '300x235')%>
        <h4><%= @event.name %></h4>
        <p><%= @event.date %></p>
        <p><%= @event.article %></p>
        <p><%= "開催日#{@event.date}" %></p>
        <p><%= "開催場所#{@event.city}" %></p>

        <!-- コメントパーシャル書き換える-->
        <table class="show-tb comment_<%= @event.id %>">
        <%= render 'comment', event_comments: @event.event_comments %>


        <%= form_with model:[@event, @event_comment], data: {remote: true} do |f| %>
          <%= f.text_area :comment, class: "form-control",placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
