<% provide(:title, '観光地情報') %>
<%= render 'shared/category_nav' %>
<div class = "pan-list">
　<%= link_to root_url, class: "pan-list__link", method: :get do %>
    <i class="fas fa-home"></i>ホーム
  <% end %>
  <span>></span>
  <a href = "http://cocoiko.blog/events/search?utf8=✓&search%5Bprefecture%5D=<%= @event.prefecture %>&search%5Bname%5D=&commit=search">
    <%= @event.prefecture %>
  </a>
  <span>></span>
  <% @event.tags.each do |tag| %>
    <%= link_to event_tag_path(tag), class: "pan-list__link", method: :get do %>
      <%= tag.name %>
    <% end %>
  <% end %>
  <span>></span>
  <%= link_to event_path(@event), class: "pan-list__link", method: :get do %>
    <%= @event.name %>
  <% end %>
</div>


<div class="box">
    <div class="box__left">
      <figure class="event__figure">
        <%= attachment_image_tag(@event, :image, fallback: 'no_image.jpg', size: '390x260')%>
      <h2 div class="heading--normal"><%= @event.name.truncate %></h2>
      <p class="text--normal"><%= simple_format(@event.article) %></p>
      <p class="text--normal"><%= "開催場所#{@event.city}" %></p>
      <% @event.tags.each do |tag| %>
        <span class="label label-default"><%= tag.name %></span>
      <% end %>
      <div id="favorites_buttons_<%= @event.id %>">
        <%= render partial: 'favorites/favorite', locals: { event: @event} %>
      </div>
    </div>

    <div class="box__right">
      <%= render 'events/event_ranking', events: @events_ranking %>
      <%= render 'shared/section_favorite' %>
      <%= render 'shared/section_pickup', events: @events_pickup %>
      <%= render 'shared/section_about' %>
    </div>
  </div>



<div class="container">
  <!-- マップ表示 -->
  <div class="col-lg-6">
    <div id='map' class="<%= @event.prefecture + @event.city + @event.street %>"></div>
  </div>
</div>

<div class="container">
  <h3>近くのイベント</h3>
  <hr>
  <%= render 'events/event_small_content', events: @events %>
</div>

<div class="container">
  <div class="col-6">
    <h3>コメント
      <% if logged_in? %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sampleModal">
          口コミを書く
          <%= render 'shared/comment_modal' %>
        </button>
      <% else %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
          口コミを書く
          <%#= render 'shared/login_modal' %>
        </button>
      <% end %>
    </h3>
    <hr>
  </div>
</div>

<div class=" comment_<%= @event.id %>">
  <%= render 'comment', event_comments: @event.event_comments %>
</div>

<style>
#map{
  width: 400px;
  height: 400px;
}
</style>

<script>
let map//ピンの位置
let geocoder//緯度経度

function initMap(){
  ////////////////////初期設定//////////////////////////////////
  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 15
  });
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()
  //住所を緯度経度に変換 .attrでクラスを取得 変換結果と処理の状況
  geocoder.geocode( { 'address': $('#map').attr('class')}, function(results, status) {
    if (status == 'OK') {
　 // map.setCenterでresults[0](緯度経度)に地図が移動
      map.setCenter(results[0].geometry.location);

///// google.maps.MarkerでMap上の指定位置にマーカーが立つ//////
  // Markerを初期化
      var marker = new google.maps.Marker({
          map: map,//ピンの位置
          position: results[0].geometry.location//クリックいち
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>

