<% provide(:title, 'タグ作成') %>

<!-- フラッシュメッセージ -->
<div class="flash">
  <%= flash[:success] %>
</div>
<div class="alert1">
  <%= flash[:alert] %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>タグ作成</h3>
      <hr>
    </div>
  </div>
  <!-- 入力フォーム -->
  <%= render 'admin/tags/tag_form', url: admin_tags_path %>
</div>

<div class="col-md-8 col-md-offset-2">
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th class="text-center">イメージ</th>
        <th class="text-center">カテゴリ名</th>
        <th class="text-center">編集</th>
        <th class="text-center">消去</th>
      </tr>
    </thead>
    <tbody>
      <% @tags.each do |tag| %>
      <tr>
        <td class="text-center"><%= attachment_image_tag(tag, :image, fallback: 'no_image.jpg', size: '90x60')%></td>
        <td class="text-center"><%= tag.name %></td>
        <td class="text-center"><%= link_to "編集", edit_admin_tag_path(tag), class: "btn btn-primary" %></td>
        <td class="text-center"><%= link_to "消去", admin_tag_path(tag), method: :delete, class: "btn btn-primary", "data-confirm" => "本当に削除しますか？" %></td>
      <% end %>
    </tbody>
  </table>
</div>
