<% provide(:title, 'エリア作成') %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>エリア追加</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_with(model: @area, url:admin_areas_path, local: true) do |f| %>
        <%#= render 'shared/error_messages' %>
        <%= f.label :都道府県 %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.submit "追加", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>エリア名</th>
            <th>編集</th>
            <th>消去</th>
          </tr>
        </thead>
        <tbody>
          <% @areas.each do |area| %>
          <tr>
            <td><%= area.name %></td>
            <td><%= link_to "編集", edit_admin_area_path(area), class: "btn btn-primary" %></td>
            <td><%= link_to "消去", admin_area_path(area), method: :delete, class: "btn btn-primary", "data-confirm" => "本当に削除しますか？" %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>