<% provide(:title, @tag.name) %>

<div class="container">
  <div class="container__inner">
    <ul class="nav1">
      <% @tags.each_with_index do |tag, i| %>
        <li class="nav1__item<%= i %>"><%= link_to event_tag_path(tag) do %>
          <%= tag.name %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>


<div class="containerr">
    <div class="left">
		  <% @events.each do |event| %>
		        <%= link_to event_path(event) do %>
		        <%= attachment_image_tag(event, :image, fallback: 'no_image.jpg', size: '300x260')%>

		      <% end %>
		      <h2 div class="heading--normal"><%= event.name.truncate(20) %></h2>
		      <p class="text--normal"><%= event.article.truncate(74) %></p>
		      <p class="text--normal">場所 <%= event.prefecture%> <%= event.city%></p>

		      <% event.tags.each do |tag| %>
		        <span class="label label-success"><%= tag.name %></span>
		      <% end %>

		      <div id="favorites_buttons_<%= event.id %>">
		         <%= render partial: 'favorites/favorite', locals: { event: event} %>
		      </div>
		      <span class="label label-success"><%= @status %></span><%= @open_date %>  <%= @close_date %>
		  <% end %>
	</div>
    <div class="right">
      人気記事ランキング

<% @events_ranking_area.each do |event| %>

<article>
  <figure>
	<%= link_to event_path(event) do %>
      <%= attachment_image_tag(event, :image, fallback: 'no_image.jpg')%>
    <% end %>
  </figure>
  <div class="text_content">
    <% event.tags.each do |tag| %>
      <% if tag.id == 1 %>
	    <p class="text_date"> <%= tag.name %></p>
	  <% else %>
	    <p class="text_date1"> <%= tag.name %></p>
      <% end %>
    <% end %>
	<h2><a href="#"><%= event.name.truncate(9) %></a></h2>
	<p class="text_excerpt">画像とテキストコンテンツを左右に並べたレイアウト。</p>
  </div>
</article>
<% end %>

<style>
input[type=checkbox] {
display: none; /* チェックボックスを非表示にする */
}
input[type="checkbox"]:checked + label {
color: black;
transition: 1.0s ;
opacity: 1;
}
.label {
color: black;
transition: 1.0s ;
opacity: 0.5;
}
</style>

<br>
<h1>チェックボックスのデザイン</h1>
<input type="checkbox" name="#" value="1" id="apple">
<label for="apple" class="label">りんご</label>
<input type="checkbox" name="#" value="2" id="pineapple">
<label for="pineapple" class="label">ぶどう</label>
<input type="checkbox" name="#" value="3" id="orange">
<label for="orange" class="label">みかん</label>

</div>
</div>
