  <% events_ranking_area.limit(4).each_with_index do |event,i| %>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="card">
          <%= link_to event_path(event) do %>
            <div class="rank<%= i %>">
              <%= attachment_image_tag(event, :image, fallback: 'no_image.jpg', size: '180x141')%>
            </div>
          <% end %>
            <h4><%= event.name.truncate(9) %></h4>
            <p><%= event.prefecture%>|<%= event.city.truncate(6)%></p>
              <% event.tags.each do |tag| %>
                <span class="label label-default"><%= tag.name %></span>
              <% end %>
            <!-- <div class="favorite"> -->
              <%#= render 'ranking', events_ranking_area: @events_ranking_area %>
            <!-- </div> -->
        </div>
      </div>
    <% end %>
