<div class="container">
    <h3>季節のイベント</h3>
    <hr>

  <!-- Swiper START -->
  <div class="container2">
    <div class="swiper-container swiper1">
    <!-- メイン表示部分 -->
      <div class="swiper-wrapper">
      <!-- 各スライド -->
        <% i = 1 %>
        <% while i < 13 %>
          <div class="swiper-slide img">
            <a href="./events/season/<%= i %>"><%= image_tag asset_path("season_#{i}.jpg", alt: "観光") %></a>
            <p><%= i %>月</p>
          </div>
          <% i += 1 %>
        <% end %>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>


  <!-- Swiper START -->
  <div class="container3">
    <div class="swiper-container swiper3">
    <!-- メイン表示部分 -->
      <div class="swiper-wrapper">
      <!-- 各スライド -->
        <div class="swiper-slide"><%= image_tag asset_path("season_sub1.jpg", alt: "観光") %></div>
        <div class="swiper-slide"><%= image_tag asset_path("season_sub2.jpg", alt: "観光") %></div>
        <div class="swiper-slide"><p>冬</p><%= image_tag asset_path("season_sub3.jpg", alt: "観光") %></div>
        <div class="swiper-slide"><%= image_tag asset_path("season_sub4.jpg", alt: "観光") %></div>
        <div class="swiper-slide"><%= image_tag asset_path("season_sub5.jpg", alt: "観光") %></div>
        <div class="swiper-slide"><p>夏</p><%= image_tag asset_path("season_sub6.jpg", alt: "観光") %></div>
        <div class="swiper-slide"><%= image_tag asset_path("season_sub7.jpg", alt: "観光") %></div>
        <div class="swiper-slide"><%= image_tag asset_path("season_sub8.jpg", alt: "観光") %></div>
        <div class="swiper-slide"><p>秋</p><%= image_tag asset_path("season_sub9.jpg", alt: "観光") %></div>
        <div class="swiper-slide"><%= image_tag asset_path("season_sub10.jpg", alt: "観光") %></div>
        <div class="swiper-slide"><%= image_tag asset_path("season_sub11.jpg", alt: "観光") %></div>
        <div class="swiper-slide"><p>冬</p><%= image_tag asset_path("season_sub12.jpg", alt: "観光") %></div>
      </div>
    </div>
  </div>
  <!-- Swiper END -->
</div>