<%= javascript_include_tag "swiper.min.js" %>
<%= javascript_include_tag "homes/top.js" %>
<% provide(:title, 'ホーム') %>

<div class="top">
  <%= image_tag asset_path("map-japan.png", alt: "観光") %>
</div>

<!-- スライダー -->
<div class="swiper-container swiper2">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="slide-img"><%= image_tag asset_path("img_01.jpg", alt: "観光") %></div>
      <div class="slide-content">
        <h1>ここいこ。へようこそ</h1>
        <p>お気に入りの観光地を探してみよう</p>
        <!-- <div class="caption">caption 01<%#=link_to root_url  %></div> -->
      </div>
    </div><!-- end of .swiper-slide -->
    <div class="swiper-slide">
      <div class="slide-img"><%= image_tag asset_path("img_02.jpg", alt: "観光") %></div>
      <div class="slide-content">
        <h2>ここいこ。へようこそ</h2>
        <p></p>
        <div class="caption"><%=link_to "Click to go on a trip !", event_path(1), :style=>"color:white;" %></div>
      </div>
    </div><!-- end of .swiper-slide -->
    <div class="swiper-slide">
      <div class="slide-img"><%= image_tag asset_path("img_03.jpg", alt: "観光") %></div>
      <div class="slide-content">
        <h3>ここいこ。へようこそ</h3>
        <p></p>
        <div class="caption"><%=link_to "Click to go on a trip !", event_path(2), :style=>"color:white;" %></div>
      </div>
    </div><!-- end of .swiper-slidet -->
  </div><!-- end of .swiper-wrapper -->
  <div class="swiper-pagination swiper-pagination-white"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div><!-- end of .swiper-container -->

<!-- ボタン -->
<%= render 'homes/select_hokkaido' %>
<%= render 'homes/select_tohoku' %>
<%= render 'homes/select_kanto' %>
<%= render 'homes/select_cyubu' %>
<%= render 'homes/select_kansai' %>
<%= render 'homes/select_cyugoku' %>
<%= render 'homes/select_shikoku' %>
<%= render 'homes/select_kyusyu' %>

<!-- 季節のイベント -->
<%= render 'homes/swiper_season' %>
<br>


<div class="top__sec2">
  <div class="container">
    <h2 div class="heading">カテゴリーから探す</h2>
    <div class="container__inner">
      <% @tags.each do |tag| %>
        <div class="container__item">
          <%= link_to event_tag_path(tag) do %>
            <%= attachment_image_tag(tag, :image, fallback: 'no_image.jpg', size: '252x200')%>
          <% end %>
          <p class="container__text"><%= tag.name %>
            <i class="fas fa-arrow-circle-right"></i>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>



<!-- 観光地のランキング -->
<div class="index-sub-content">
  <div class="container">
  <h2 div class="heading">人気のスポット</h2>
    <table>
      <tr>
        <th><%= link_to "北海道", root_url(area_id: 1), remote: true %></th>
        <th><%= link_to "東北", root_url(area_id: 2), remote: true %></th>
        <th><%= link_to "関東", root_url(area_id: 3), remote: true %></th>
        <th><%= link_to "中部", root_url(area_id: 4), remote: true %></th>
        <th><%= link_to "関西", root_url(area_id: 5), remote: true %></th>
        <th><%= link_to "中国", root_url(area_id: 6), remote: true %></th>
        <th><%= link_to "四国", root_url(area_id: 7), remote: true %></th>
        <th><%= link_to "九州・沖縄", root_url(area_id: 8), remote: true %></th>
      </tr>
    </table>
  </div>
</div>

<div class="container">
  <div id="area_ranking">
    <%= render 'events/event_small_content', events: @events_ranking_area %>
  </div>
</div>

<!-- 新着記事 -->
<div class="container">
  <h3>新着記事</h3>
  <hr>
  <%= render 'events/event_small_content', events: @events_new %>
</div>



