<div class="main-visual fade-in-bottom ">
  <h2>あああああああ</h2>
</div>

<div class="top">
  <img src="/assets/top.jpeg">
</div>


<div class="index-sub-content">
  <div class="container">
  	<h5>新着のイベント</h5>
      <% @events_new.first(4).each do |event| %>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="card">
            <%= link_to event_path(event) do %>
              <div class="new">
                <%= attachment_image_tag(event, :image, fallback: 'no_image.jpg', size: '180x141')%>
              </div>
            <% end %>
            <h4><%= event.name %></h4>
            <p>場所 <%= event.prefecture%> <%= event.city%></p>
            <span class="glyphicon glyphicon-heart"><%= event.favorites.count%></span>
          </div>
        </div>
      <% end %>
  </div>
</div>

<div class="index-sub-content">
  <div class="container">
  <h5>各地方の人気のイベント</h5>
    <!-----------  エリア名表示 --------------->
    <!-- params[:area_id]にidを送る-->
    <%= link_to "北海道", root_url(area_id: 1), remote: true %>
    <%= link_to "東北", root_url(area_id: 2), remote: true %>
    <%= link_to "関東", root_url(area_id: 3), remote: true %>
    <%= link_to "中部", root_url(area_id: 3) %>
    <%= link_to "関西", root_url(area_id: 5) %>
    <%= link_to "中国", root_url(area_id: 6) %>
    <%= link_to "四国", root_url(area_id: 7) %>
    <%= link_to "九州・沖縄", root_url(area_id: 8) %>
    <!--------------------------------------->

    <% @events_ranking_area1.first(4).each do |event| %>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="card">
            <%= link_to event_path(event) do %>
              <%= attachment_image_tag(event, :image, fallback: 'no_image.jpg', size: '180x141')%>
            <% end %>
            <h4><%= event.name.truncate(9) %></h4>
            <p>場所 <%= event.prefecture%> <%= event.city%></p>
            <span class="glyphicon glyphicon-heart"><%= event.favorites.count%></span>
        </div>
      </div>
    <% end %>
  </div>
</div>


 <!--  <div class="main">
        <div class="blog"></div>
        <div class="sidebar">
        	<div id="map"></div>
        </div>
    </div> -->
