<%#= javascript_include_tag "swiper.min.js" %>
<%#= javascript_include_tag "homes/top.js" %>
<% provide(:title, 'ホーム') %>

<!-- top -->
<div class="top">
  <div class="top__figuer-1">
    <%= image_tag asset_path("top__sec-img1.jpg", alt: "観光") %>
    <h1 class="top__heading">
      お気に入りの観光地を探してみよう
    </h1>
  </div>
  <div class="top__figuer-2">
    <%= image_tag asset_path("top__sec1-img2.png", alt: "観光") %>
  </div>

  <!-- 日本地図のボタン -->
  <%= render 'homes/select_area' %>
</div>

<!-- パンくずリスト -->
<%= render 'shared/category_nav' %>

<!-- 各地域の人気記事 -->
<h2 div class="heading">各地域の人気記事</h2>
  <table class="ranking__table">
    <tr>
      <th class="ranking__table-link"><%= link_to "北海道", ranking_path(area_id: 1), remote: true %></th>
      <th class="ranking__table-link"><%= link_to "東北", ranking_path(area_id: 2), remote: true %></th>
      <th class="ranking__table-link"><%= link_to "関東", ranking_path(area_id: 3), remote: true %></th>
      <th class="ranking__table-link"><%= link_to "中部", ranking_path(area_id: 4), remote: true %></th>
      <th class="ranking__table-link"><%= link_to "関西", ranking_path(area_id: 5), remote: true %></th>
      <th class="ranking__table-link"><%= link_to "中国", ranking_path(area_id: 6), remote: true %></th>
      <th class="ranking__table-link"><%= link_to "四国", ranking_path(area_id: 7), remote: true %></th>
      <th class="ranking__table-link"><%= link_to "九州・沖縄", ranking_path(area_id: 8), remote: true %></th>
    </tr>
  </table>
<div id="area_ranking">
  <%= render 'events/event_small_content', events: @events_ranking_area %>
</div>

<div class="circle"></div>

<!-- 新着記事 -->
<h2 div class="heading">新着記事</h2>
<div class="box">
  <div class="box__left new_event">
    <%= render 'events/event_card', events: @events_new %>
  </div>
　<!-- サブメニュー -->
  <div class="box__right">
    <%= render 'shared/section_area' %>
    <%= render 'events/event_ranking', events: @events_ranking %>
    <%= render 'shared/section_favorite' %>
    <%= render 'shared/section_pickup', events: @events_pickup %>
    <%= render 'shared/section_about' %>
  </div>
</div>

<!-- フッター -->
<div class="footer__top-pc">
  <i class="fas fa-arrow-down"></i>
    <%= link_to_next_page @events_new, 'もっと見る', remote: true, id: 'more_link' %>
</div>
<%= render 'shared/footer' %>
