<% provide(:title, 'ホーム') %>
<div class="main-visual fade-in-bottom ">
  <h2>お気に入りの観光地を探してみよう!</h2>
</div>

<div class="top">
  <!-- <img src="/assets/top.jpg" alt="画像のサンプル" width="100%" height="600px"> -->
  <%= image_tag asset_path("top.jpg", alt: "ゲーム画像1", size:'600x600') %>
</div>

<div class="container">
  <h3>新着のイベント</h3>
  <hr>
  <%= render 'events/event_small_content', events: @events_new %>
</div>

<div class="index-sub-content">
  <div class="container">
  <h3>各エリアの人気イベント</h3>
  <hr>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <table>
        <tr>
          <!-- params[:area_id]にidを送る-->
          <th><%= link_to "北海道", root_url(area_id: 1), remote: true %></th>
          <th><%= link_to "東北", root_url(area_id: 2), remote: true %></th>
          <th><%= link_to "関東", root_url(area_id: 3), remote: true %></th>
          <th><%= link_to "中部", root_url(area_id: 4), remote: true %></th>
          <th><%= link_to "関西", root_url(area_id: 5), remote: true %></th>
          <th><%= link_to "中国", root_url(area_id: 6), remote: true %></th>
          <th><%= link_to "四国", root_url(area_id: 7), remote: true %></th>
          <th><%= link_to "九州・沖縄", root_url(area_id: 8), remote: true %></th>
        </tr>
      </table>
  <!------------------部分テンプレートranking.html.erb--------------------->
      <div class="favorite">
        <%= render 'ranking', events_ranking_area: @events_ranking_area %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <h3>エリアから探す</h3>
    <hr>
  </div>
</div>

  <div class="main">
    <div class="blog"></div>
      <div class="sidebar">
        <div id="map"></div>
      </div>
  </div>
