<header class="header">
  <h1 class=header__left>
    <%= link_to image_tag("logo1.png"), root_url, class: "header__logo" %>
  </h1>

  <nav class="header__right">
    <ul class="header__right-ul">
      <!-- adminユーザー -->
      <% if logged_in? && current_user.admin %>
        <ul class="dropdwn">
          <li><i class="fas fa-circle green"></i>ログイン中
            <ul class="dropdwn_menu">
              <li><%= link_to ' ログアウト', session_path(current_user), method: :delete %></li>
            </ul>
          </li>
        </ul>
        <li class="header__right-link"><%= link_to ' タグ作成', admin_tags_path %></li>
        <li class="header__right-link"><%= link_to ' イベント作成', admin_events_path %></li>
        <li class="header__right-link"><%= link_to ' エリア作成', admin_areas_path %></li>
        <%= render 'layouts/header_dropdown' %>
      <!-- ユーザー -->
      <% elsif logged_in? && !current_user.admin %>
        <ul class="dropdwn">
          <li><i class="fas fa-circle green"></i>ログイン中
            <ul class="dropdwn_menu">
              <li><%= link_to ' マイページ', user_path(current_user) %></li>
              <li><%= link_to ' ログアウト', session_path(current_user), method: :delete %></li>
            </ul>
          </li>
        </ul>
        <%= render 'layouts/header_dropdown' %>
      <!-- ログインしていないユーザー -->
      <% else %>
        <li class="header__right-link"><%= link_to 'ログイン', new_session_path %></li>
        <li class="header__right-link"><%= link_to '新規登録', new_user_path %></li>
        <li class="header__right-link-red"><%= link_to 'ゲストログイン', users_guest_new_path, method: :post　%></li>
        <li class="header__right-link-red"><%= link_to '管理者ログイン', users_admin_new_path, method: :post %></li>
        <%= render 'layouts/header_dropdown' %>
      <% end %>
    </ul>
  </nav>

  <!-- レスポンシブ  -->
  <li class="hamburger"><%= image_tag("hamburger.png") %></li>
  <nav class="sp-nav">
    <div class="close"><i class="fas fa-times"></i></div>
    <ul>
      <!-- adminユーザー -->
      <% if logged_in? && current_user.admin %>
        <li><%= link_to ' タグ作成', admin_tags_path %></li>
        <li><%= link_to ' イベント作成', admin_events_path %></li>
        <li><%= link_to ' エリア作成', admin_areas_path %></li>
        <li><%= link_to ' ログアウト', session_path(current_user) %></li>
      <!-- ユーザー -->
      <% elsif logged_in? && !current_user.admin %>
        <li><%= link_to '　マイページ', user_path(current_user) %></li>
        <li><%= link_to '  ログアウト', session_path(current_user) %></li>
      <% else %>
        <li><%= link_to '  ログイン', new_session_path %></li>
        <li><%= link_to '  新規登録', new_user_path %></li>
        <li><%= link_to '  簡単ログイン(user)', users_guest_new_path %></li>
        <li><%= link_to '  簡単ログイン(admin)', users_admin_new_path %></li>
      <% end %>
    </ul>
  </nav>
</header>