<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css"> -->
    <!-- <link rel="stylesheet" href="css/swiper.min.css"> -->
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <%= yield %>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>  -->
    <!-- <script src="js/swiper.min.js"></script> -->
  </body>
</html>
