<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css"> -->
    <!-- <link rel="stylesheet" href="css/swiper.min.css"> -->
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="modal fade" id="guestModal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">タイトル</h4>
              </div>
              <div class="modal-body">
                <p>すでに会員の方は  <%= link_to "ログイン画面へ", new_session_path, class: "btn btn-default" %></p>
                        <p>まだ会員でない方は  <%= link_to "新規会員登録画面へ", new_user_path, class: "btn btn-default" %></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
              </div>
            </div>
          </div>
        </div>
    <%= yield %>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>  -->
    <!-- <script src="js/swiper.min.js"></script> -->

  </body>
</html>
